ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    height: 450px;
    width: 300px;
}

li {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 32px;
    font-weight: 600;
    border: 2px solid #a0a0a0;
    border-radius: 15px;
    background-color: #f7f7f7;
    margin: 10px;
}

.icon {
    display: inline-block;
    width: 300px;
    background-image: url('images/sprite.png');
    background-repeat: no-repeat;
    background-color: #f7f7f7;
}

span {
    height: 100%;
}

.i-html {
    background-position: left bottom;
}

.i-css {
    background-position: center bottom;
}

.i-js {
    background-position: right bottom;
}